

{% extends 'dbms/_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center mt-5">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
          {{ student.course.start_date }}
          {{ report.marks }}
          <ul class="list-group list-group-light list-group-small">
            <li class="list-group-item px-4">Firstname: {{ student.firstname }} </li>
          </ul>
          
          <div class="card-body">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-primary">View</button>
              <button type="button" class="btn btn-secondary">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}